$padding_mobile: 32px;
$padding_pc: 80px;

$h1_text_size: 48px;
$h2_text_size: 16px;
$h3_text_size: 40px;
$p_text_size: 20px;

$h2_color : #FF3998;

// Bendri nustatymai

h1 {
    font-size: $h1_text_size;
    margin: 0;
}

h2 {
    font-size: $h2_text_size;
    text-transform: uppercase;
    color: $h2_color;
    margin: 0;
}

h3 {
    font-size: $h3_text_size;
    margin: 0;
    line-height: 48.41px;
}

p {
    font-size: $p_text_size;
    margin: 0;
    line-height: 30px;
    letter-spacing: 1px;
}

button {
    width: 188px;
    height: 75px;
    border-radius: 75px;
    background-color: transparent;
    border: solid 5px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #FF3998, #FF8139);
    background-origin: border-box;
    box-shadow: 2px 1000px 1px #fff inset;
    font-size: 22px;
    font-weight: bold;
}

#button-container {
    padding: 0 $padding_mobile;
    border: none;
}

.orange-container {
    padding: 0 $padding_mobile;
}

// Bendru nustatymu pabaiga

header {
    margin: 0px;
    padding: $padding_mobile;

    .header-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        nav {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .fa-bars {
                font-size: 29px;
                font-weight: bold;
                color: #999999;
                margin: 0;
            }

            .top-menu {
                display: none;
            }
        }
    }

    .header-bottom {
        padding-top: 80px;
        height: 450px;

        h1 {
            line-height: 58.09px;
            padding-bottom: 27px;
        }

        h2 {
            padding-bottom: 30px;
        }

        p {
            color: #555555;
            width: 274px;
            padding-bottom: 20px;
        }
    }
}

main {
    .orange-section {
        background-image: url(../img/background.svg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 327px;
        background-position: -30vw;

        h3 {
            padding-top: 124px;
            padding-bottom: 12px;
        }
    }

    .companies {
        padding: 65px $padding_mobile 0 $padding_mobile;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        row-gap: 20px;

        div {
            width: 50%;
        }

        #short {
            content: url(../img/companies/1-short.svg);
        }

        #pc {
            display: none;
        }
    }

    .aukcionas {
        padding: 52px $padding_mobile 0 $padding_mobile;
        height: 735px;

        p {
            padding-top: 15px;
            padding-bottom: 40px;
            color: #555555;
        }

        a {
            color: #555555;
        }

        .container {
            overflow-x: auto;
            white-space: nowrap;
            padding: 0;
            display: flex;
            flex-direction: row;
            gap: 40px;

            .card {
                display: inline-block;
                border-radius: 17px;
                background-color: #EEEEEE;
                width: 290px;
                height: 400px;
            }

            .card-footer {
                display: flex;
                flex-direction: column;
                padding: 0 24px;

                p {
                    padding: 0;
                }

                div {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }

                .row-1 {
                    font-variant: small-caps;

                    p {
                        color: #777777;
                    }

                    p:first-child {
                        color: #FF8139;
                    }
                }

                .row-2 {
                    font-weight: bold;
                }

                .row-3 {
                    color: #777777;
                }
            }
        }
    }

    .zalias {
        background-image: url(../img/upsell-footer-image.svg);
        background-repeat: no-repeat;
        background-position: 60vw bottom;

        div {
            border: 1px solid lightgray;
        }

        div:first-child {
            border-bottom: none;
            height: 328px;
        }

        div:nth-child(2) {
            height: 300px;
        }

        h1 {
            padding-left: $padding_mobile;
            width: 60%;
            font-size: 56px;
            line-height: 67.77px;
        }

        h2 {
            padding-top: 63px;
            padding-bottom: 25px;
            padding-left: $padding_mobile;
        }

        p {
            padding-left: $padding_mobile;
            padding-bottom: 40px;
            width: 60%;
            color: #555555;

        }
    }
}